@tailwind base;
@tailwind components;
@tailwind utilities;

.font-varela {
    font-family: 'Varela Round', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
  
.page-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-left: 10px;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    align-items: center
}

.blue-btn {
    color: #0066cc;
    text-decoration: underline;
    margin-bottom: 20px;
    display: inline-block;
  }